button
{
    background-color:rgb(33, 33, 180);
    color: rgb(15, 13, 13); 
    margin: 2px;
    

}
  
h2{
    background-color:rgb(223, 241, 121);
    font-family: 'Courier New', Courier, monospace;
}
table {
    background-color:#7fffd4

}

table, th, td {
    border: 1px  rgb(19, 18, 18);
  }

  table, th,td {
   color:rgb(19, 18, 18);
  }
  
  table thead tr td {
   color:rgb(34, 33, 33);
  }

  table{
      margin: 5px;
  }


* {
    box-sizing: border-box;
}