

<div style="text-align: center;">
    <h1>
    </h1>
    </div>

<span >
    {{studentObj.id}} {{studentObj.firstName}} {{studentObj.lastName}} {{studentObj.studentId}} 
    {{studentObj.address}} {{studentObj.mobile}} {{studentObj.emailId}}
    <!-- <button (click)="onSelect(studentObj)">Select Student</button> -->
</span>