button
{
    background-color:rgb(233, 240, 232);
    color: rgb(15, 13, 13); 
    margin: 2px;
    

}
  
h2 {
    background-color:rgb(223, 241, 121);
    font-family: 'Courier New', Courier, monospace;
}
table {
    background-color:#9fe0c8

}

table, th, td {
    border: 1px  rgb(19, 18, 18);
  }

  table, th,td {
   color:rgb(19, 18, 18);
  }
  
  table thead tr td {
   color:rgb(34, 33, 33);
  }

  table{
      margin: 5px;
  }


* {
    box-sizing: border-box;
}