
<div style="text-align: center;">
    <h2 myHighlight>User Management</h2>
    <h3>Student List</h3>

    <table class="table">
        <tr>
            <th>#</th>
            <th>id</th>
            <th>firstName</th> 
            <th>lastName</th>
            <th>studentId</th>
            <th>address</th>
            <th>mobile</th>
            <th>emailId</th>
        </tr>
        <tr *ngFor="let student of students;  let i = index" >
            <!-- [ngClass] = "{'highlight' : student.firstName == selectedName}"> -->
            <td>{{i + 1}}</td>
            <td>{{student.id}}</td>
            <td>{{student.firstName | uppercase}}</td>
            <td>{{student.lastName | textTransform}}</td>
            <td>{{student.studentId}}</td>
            <td>{{student.address}}</td>
            <td>{{student.mobile}}</td>
            <td>{{student.emailId}}</td>
             <td> <button (click)="onSelect(student)">Select Student</button></td>

        </tr>
    </table>
    <button (click)="clear()"> Clear</button>
<h3>Selected Student Data</h3>
  <app-display-students [studentObj]="selectStudentData"></app-display-students> 


    <!-- <ng-container *ngIf="selectStudentData;else elseTemplate"> -->

     <!-- <div *ngFor="let student of students">
    <p>Id:{{student.id}}</p>
    <p>FirstName:{{student.firstName | textTransform}}</p>
    <p>LastName:{{student.lastName | uppercase | textTransform}}</p>
    <p>StudentId:{{student.studentId}}</p>
    <p>Address:{{student.address | titlecase}}</p>
    <p>Mobile:{{student.mobile}}</p>
    <p>EmailId:{{student.emailId | titlecase}}</p>
    <button (click)="onSelect(student)">Select Student</button>
    </div> -->
<!-- </ng-container>
<ng-template #elseTemplate>
    <p>No Data Found</p>
</ng-template> -->

  

        <!-- <div *ngFor="let student of students;">
            {{student.id}}
            {{student.firstName}}
            {{student.lastName}}
            <td><button (click)="onSelect(student)">Select Student</button></td>
        </div> -->

</div>

